/* Mude a cor do <h1>
Deixe os parágrafos com outra cor
Coloque um fundo na página
Centralize o <h1> */
body{
    background-image: linear-gradient(99deg, grey , black);
}
h1 {
    padding: 10px;
    text-align: center;
    color: blue;
}
p{
    margin: 0;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}